html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;}
a:link, a:visited {background:transparent;font-weight:700;text-decoration:none;}
a:focus, a:hover {color:#FF6600;}
a {	
	color:#0066B3;
	text-decoration:underline;
	font-weight:bold;
}

table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}

th, td, {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
hr {
	background:#ccc;
	color:#ccc;
	width:100%;
	height:2px;
	#margin:2em 0;
	padding:0;
	border:none;
	clear: both;
}
td {
	font-size: font-size: 100%;
	color: black;
	width: 100px;
	height: 22px;
	#text-align: center;
}
tfoot {font-style:italic;}
p {margin:0 0 1.5em;}

th, td, caption {
    padding: 4px 10px 4px 5px;
}
table, td, th {
    vertical-align: middle;
}
caption, th, td {
    #font-weight: normal;
    text-align: left;
}
html{
	padding: 0;
}
body {
	line-height:1.5;
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
	color: teal;
	background:#f1f1f1;
	font-size:10pt;
	line-height:1.5;
	color:#222;
	background:#f1f1f1;
}
body {
	#font-size: 20px;
	#color: teal;
	#font-family: Calibri;
}
table {border-collapse:separate;border-spacing:0;}

img {
    float: left;
}

div#logo {
	background-image:url(../images/logo.png) ; 
   	background-repeat: no-repeat;
    background-size: 100px 15px;
    height: 25px;
	#margin: -10px 25px 0;
}
div#home-title {
    font-size: 1.5em;
    margin: 25px 0 0 340px;
}




#main-message{
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 1) inset, 0 -1px 2px rgba(0, 0, 0, 0.25) inset;
	-moz-border-radius:12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius:5px;
	margin: 0 0 15px;
}










#message
{
	color: #00529B;
	padding: 10px;
	font-weight: bold;
	border-radius:5px;
}

#info
{
	color: #00529B;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0px, #BDE5F8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding: 10px;
	font-weight: bold;
	border-radius:5px;
}
#success
{
	color: #4F8A10;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0px, #DFF2BF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding: 10px;
	font-weight: bold;
	border-radius:5px;
}
#warning
{
	color: #9F6000;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0px, #FEEFB3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding: 10px;
	font-weight: bold;
	border-radius:5px;
}
#error
{
	color: #D8000C;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0px, #FFBABA 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding: 10px;
	font-weight: bold;
	border-radius:5px;
}

.container {
	background-color: #ffffff;
	border: 1px solid #c1c1c1;
    border-radius: 10px;
    margin: 30px auto;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 2px rgba(0, 0, 0, 0.3), 0 1px white inset, 0 -1px 2px rgba(0, 0, 0, 0.25) inset;
	width:950px;
	
}

.menu{
	position: relative;
	background: url(../images/menu/menu_bg.gif) repeat-x;
	height: 46px;
	list-style: none;
	margin: 75px 0 0;
}
.menu ul{
	padding: 14px 0 0 5px;
}
.menu li{
	display: inline-block;
	float:left;
	margin: -14px 0 0;
}
.menu li ul.submenu{
	background: url("../images/menu/dropdown.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);	
	border-radius: 0 0 1em 1em;
	box-shadow: 0.01em 0.1em 0.1em 0.01em #aaa;
    height: 25em;
    left: 0;
	margin: 3.3em 3.1em 0;
    position: absolute;
	display: none;
	width:93%;
	height: 130px;
	#opacity: 0.95;
}
.menu li:hover ul.submenu {
	display: block;
}
/* ----  */
.menu li:hover a, .menu li a:hover{
	color: #fff;
	background: url(../images/menu/menu_hover_left.gif) no-repeat;
	background-position: left;
}

.menu li:hover a b, .menu li a:hover b{
	background: url(../images/menu/menu_hover_right.gif) no-repeat right top;
}
/* ----  */

.menu li ul.submenu li.col{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    padding: 0.5em 0 0;
    width: 25%;
	#border-right: 1px solid #cfe2de;
}
.menu li ul.submenu li.col h3{
	color: #1f51a0;
	margin: 15px;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 0;
}
.menu li ul.submenu li.col hr {
	background:url("../images/menu/h-separator.png") no-repeat scroll left center / 90% auto transparent;
	border: 0 none;
}
.menu li ul.submenu li.col ul{
	width: 80%;
	padding: 0;
	margin: -5px 0 0 10px;
}
.menu li ul.submenu ul.items li{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    float: none;
    height: 2em;
    width: 100%;
}
.menu li ul.submenu ul.items li a{
	background: none repeat scroll 0 0 transparent;
    color: #002f2f;
    display: block;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
	font-weight: bold;
    text-transform: capitalize;
}
.menu li ul.submenu ul.items li a:hover{
	text-decoration:underline;
}
.menu li a{
	float: left;
	display: block;
	color:#002f2f;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding:0 0 0 16px; 
	height: 46px;
	line-height: 46px;
	text-align: center;
	cursor: pointer;	
}
.menu li a b{
	float: left;
	display: block;
	padding: 2px 24px 0 8px; 
}
.menu li.current a, .menu li a:hover{
	color: #DBDADA;
	background: url(../images/menu/menu_hover_left.gif) no-repeat;
	background-position: left;
	
}
.menu li.current a b, .menu li a:hover b{
	background: url(../images/menu/menu_hover_right.gif) no-repeat right top;
}

.main{
	background: #fafafa;
	margin-right: 0;
	 min-height: 400px;
	margin: 0;
    padding: 0;
}
.main ul {
   # margin: 0 0 0 5em;
}

.main p {
    margin: 1em 2em 1.5em;
}
.footer{
	 margin: 0 0 0 425px;
}

.header{
	background: #fafafa;
	border-radius: 10px 10px 0 0;
	margin: 0 0 -25px;
    width: 950px;
	float: left;
	padding: 0;
}

.heading {
	font-size: 18px;
	color: white;
	font: bold;
	background-color: orange;
	border: thick;
}
#main-container {
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 2px rgba(0, 0, 0, 0.3), 0 1px white inset, 0 -1px 2px rgba(0, 0, 0, 0.25) inset;
    margin: 5% 25% 0;
    padding: 15px;
    width: 50%;
}
.section {
    display: inline-table;
    margin: 0 0 10px;
}
.user {
        float: right;
    width: 80%;
}
.section li.huge {
    display: inline-block;
    margin: 5px 0;
    position: unset;
    width: 100%;
}

.section li.huge label {
    display: inline-block;
    line-height: 1.2em;
    margin: 0 0.7em 0 0.9em;
    max-width: 15em;
    vertical-align: middle;
    width: 18%;
}
.section li.huge input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    box-shadow: 0.1em 0.1em 0.1em #aaa;
    color: #666;
    display: inline-block;
    font-size: 1em;
    height: 1.8em;
    line-height: 1.2em;
    max-width: 15em;
    padding: 0.2em 0.3em;
    vertical-align: middle;
    text-indent: 5px;
    border-radius: 12px;
}



select {
	text-indent: 2px;
    border-radius: 5px;
    padding-right: 20px;
}


.form-container button {
    background: none repeat scroll 0 0 #000;
    border-color: #000;
    border-radius: 4px;
    color: #fff;
    display: block;
    float: right;
    font: bold 12px/14px Arial,Helvetica,Verdana,sans-serif;
    letter-spacing: 0.4px;
    margin: 2px 0 0;
    padding: 5px 14px;
    position: relative;
}

.reference .edit a{
	color:green;
}

.reference .delete a{
	color:red;
}

.reference .head{
	 background:#048197 !important;
     color: #fff ;
}
table.reference tr:nth-child(even) {
  background-color: #ffffff;
  border: 1px solid #000;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
table.reference tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table.reference tr:hover {
  #background: #cccccc;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

h3{
	color: #045c97 !important ;
    font-size: 1.5em !important ;
    font-weight: bold !important ;
    line-height: 1;
    margin-bottom: 1em !important ;
}
.title{
	 text-align: center;
}

.about{
	 padding:60px 85px 0;
}

.about ul li strong{
	 color: #b36306;
}

.about ul li em {
    font-style: italic;
    color: #0066b3;
}

.about-title{
	 text-align: center;
}

.about-title h3{
	 color: #b36306 !important;
}




.error-message{
	text-align: center;
	color: #0066b3;
	font-weight: bold;
}

.error-message h3{
	color: #CC0000 !important;
}


.error {
	margin: 0.25em 0 1em;
    color: #CC0000 !important;
    text-shadow: none;
    font-weight: bold;
    font-size: 0.85em;
}

.radio{
	width: 45%;
	margin:  -25px 0 0 125px;
}


.section li.huge-btn {
    display: inline-block;
    margin: 30px;
    float: right;
     width: 30%;
    
}


.button{
	float: right;
	display: inline-block;
    margin: 5px;
}


button{
	background: #000;
    border-radius: 5px;
    color: #fff;
    font: bold 13px/12px Arial,Helvetica,Verdana,sans-serif;
    letter-spacing: 0.4px;
    padding: 5px 15px;
    position: unset;
    border: 0 none;
}
button:hover{
	background: #646c72;
	background: -moz-linear-gradient(top,  #646c72 0%, #404040 50%, #000 54%, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646c72), color-stop(50%,#404040), color-stop(54%,#000), color-stop(100%,#000));
	background: -webkit-linear-gradient(top,  #646c72 0%,#404040 50%,#000 54%,#000 100%);
	background: -o-linear-gradient(top,  #646c72 0%,#404040 50%,#000 54%,#000 100%);
	background: -ms-linear-gradient(top,  #646c72 0%,#404040 50%,#000 54%,#000 100%);
	background: linear-gradient(to bottom,  #646c72 0%,#404040 50%,#000 54%,#000 100%);
	text-decoration:none;
}

.btn{
	background: #000 !important;
    border-radius: 5px;
    color: #fff;
    font: bold 13px/12px Arial,Helvetica,Verdana,sans-serif;
    letter-spacing: 0.4px;
    padding: 5px 15px;
    position: unset;
    border: 0 none;
}
.btn:hover{
	color: #fff !important;
	background: #646c72 !important;
	background: -moz-linear-gradient(top,  #646c72 0%, #404040 50%, #000 54%, #000 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646c72), color-stop(50%,#404040), color-stop(54%,#000), color-stop(100%,#000)) !important;
	background: -webkit-linear-gradient(top,  #646c72 0%,#404040 50%,#000 54%,#000 100%) !important;
	background: -o-linear-gradient(top,  #646c72 0%,#404040 50%,#000 54%,#000 100%) !important;
	background: -ms-linear-gradient(top,  #646c72 0%,#404040 50%,#000 54%,#000 100%) !important;
	background: linear-gradient(to bottom,  #646c72 0%,#404040 50%,#000 54%,#000 100%) !important;
	text-decoration:none;
}

.btn-div {
    float: right;
    margin: 30px;
}


.close {
	background: #606061 !important;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.details{
	margin: 1%;
	display: flex !important;
	color: #238fc1;
}

.details-container{
   	background: linear-gradient(white, #d7d6d6);
    border-radius: 5px;
    box-shadow: 0.1em 0.1em 0.1em 0.1em #aaa;
    padding: 4px;
    position: fixed;
    right: 35%;
    top: 45%;
    width: 250px;
    padding: 15px 0 0 15px;
    text-align: center;
}




.pagination {
  margin: 20px 0;
  text-align: center;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}